.aboutContainer {
  width: 50%;
  max-width: 1320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.h1 {
  font-size: 3rem;
}

.aboutText {
  margin: 25px;
  font-size: 1.25rem;
}
