.nav {
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 15px;
  position: relative;
}

.btnNav {
  border: none;
  width: 100%;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border-radius: 5px;
}

.btnNav:hover {
  transform: scale(1.05);
}

.link {
  text-decoration: none;
}
