.header {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 25px;
}

.signin {
  font-size: 1rem;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.link {
  text-decoration: none;
}
